nav.navbar.navbar-default.navbar-inverse
  div.container-fluid
    div.navbar-header
      //-
        button.navbar-toggle(type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false")
          span.sr-only Toggle Navbar
          span.icon-bar
          span.icon-bar
          span.icon-bar
      a.navbar-brand(href="#") Tic Tac Toe!

    //- div.collapse.navbar-collapse(id="bs-example-navbar-collapse-1")
    div
      ul.nav.navbar-nav.navbar-right
        li
          a(href="/games") Games
        li
          a(href="/users/") Users
        if(currentUser)
          li 
            a(href="/users/#{currentUser.username}") #{currentUser.username}
          li
            a(href="/logout") Logout
        else
          li
            a(href="/login") Login
          li
            a(href="/register") Register
        //-
          li.dropdown
            a.dropdown-toggle(href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false") Dropdown
              span.caret
            ul.dropdown-menu
              li
                a(href="/login") Login
              li
                a(href="/register") Register
              li.divider
              li
                a(href="/games") Games