extends ./layout.jade

block title
  title Tic Tac Toe!

block content
  div.content-fluid
    h1 TIC beTACmore TOE!
    h5 New user?  Register 
      a(href="/register") here
      | !
    h5 Already have an account?  Log in 
      a(href="/login") here
      | !