extends ./layout.jade

block title
  title Tic Tac Toe!

block content
  ng-view
  //
    div.content-fluid
      h1 
        | Hello 
        if currentUser
          = currentUser.username
        else
          | fellow citizens!
      h5 New user?  Register 
        a(href="/register") here
        | !
      h5 Already have an account?  Log in 
        a(href="/login") here
        | !