doctype html
html(ng-app="bewd.tictactoe")
  head
    block title

    include ./includes/bower_bootstrap.jade
    include ./includes/header.jade

  body
    include ./includes/flash.jade
    div.container-fluid
      div.well
        block content