extends ./layout.jade

block title
  title Register for Tic Tac Toe!

block content
  h1 Register As a New User

  form(name="newUserRegister", action="/register", method="post")
    div.form-group
      label Username
      input.form-control(type="text", name="username")
      label Password
      input.form-control(type="password", name="password")
    button.btn.btn-default(type="submit") Register!
    p Already registered?  Log in 
      a(href="/login") here
      | !