extends ./layout.jade

block title
  title User List

block content
  div.container
    h1 All the Players!
    ul
      if(users)
        each user in users
          li
            a(href="#") #{user.username}
  //-
    h2 Create a New Game!
    form(name="newGame", action="/games", method="post")
      div.form-group
      label New Board Config
        input.form-control(type="text", name="board")
        button.btn.btn-default(type="submit") Create!
        if(errors)
          p.text-danger Initial board state must consiste of exactly 9 characters of which only [XO ] are allowed
          code= errors.message
