extends ./layout.jade

block title
  title User List

block content
  div.container
    h1 All the Players!
    div.form-group
      label Search for a specific user:
      input.form-control(type="text" ng-model="nameFilter")
    ul
      if(users)
        each user in users
          li
            a(href="#") #{user.username}
      //-
        ul(ng-controller="BoardsController as userList")
          li(ng-repeat="username in userList.username track by userList.id")
            a(href="/games/{{ board.id }}") Game {{ '#' + board.id }}
