extends ./layout.jade

block title
  title User List

block content
  div.container
    h1 All the Players!
    div.form-group
      label Search for a specific user:
      input.form-control(type="text" ng-model="nameFilter")
    ul
      if(users)
        each user in users
          li
            a(href="#") #{user.username}
      //-
        each user in users
          li(ng-repeat="username in #{user.username} | filter:nameFilter track by $index ")
            a(href="#") {{username}}
