<!-- public/tmpl/board.html -->
<!--
  <table class="table table-condensed table-striped">
    <tr ng-repeat="ticTacRow in vm.theBoard track by $index">
      <td ng-repeat="column in ticTacRow track by $index">
        {{ (column == ' ' ? '&nbsp;' : column) }}
      </td>
    </tr>
  </table>
  <button class="btn btn-default" ng-click="vm.makeYourMove()">Move</button>
-->
<div class="container">
  <table class="table table-hover table-striped table-bordered">
    <tr ng-init="rowInd=$index" ng-repeat="tableRow in vm.theBoard track by $index">
      <td ng-click="vm.makeYourMove(rowInd, $index); vm.isWinningBoard()" ng-repeat="tableEntry in tableRow track by $index">
        {{ tableEntry }}
      </td>
    </tr>
  </table>
  <button class="btn btn-default" ng-click="vm.makeComputerMove(); vm.isWinningBoard();">
  	Get Opponent Move
  </button>
  <button class="btn btn-default" ng-click="vm.resetBoard()">
    Reset!
  </button>
<!--   <button class="btn btn-default" ng-click="">
    Save
  </button> -->
  <label>And the winner is...{{ vm.gameWinner }}</label>
  <p></p>
</div>